# Environment variables
*.env*
!*.env*.example
*.password*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# MacOS
.DS_Store

# Node
node_modules
.pnpm-debug.log*
*.local

# Build outputs
.next
next-env.d.ts
tsconfig.tsbuildinfo
dist
build
dist-ssr
/.cache

# Contract outputs
contracts/cache/
contracts/out/
contracts/lib
contracts/broadcast/
# Local deployments
contracts/deployments/LOCAL/

# Typedoc generated api reference.
# Ignored to discourage manual editing
apps/docs/src/pages/**/api

# Cloned Repositories
packages/bundler/alto

# Design tokens generated CSS files
support/design-tokens/tokens

# Editor configs and files
.idea
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vocs bunild artifacts
*.config.ts.timestamp-*

# SQLite files
*.sqlite
.aider*
