@font-face {
    font-display: swap;
    font-family: "Pixeloid Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PixeloidSans.woff2") format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Pixeloid Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PixeloidSans-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Oxanium-Medium.woff2") format("woff2");
  }
  