main {
  width: 100vw;
  height: 100dvh;
}

.half {
  width: 100vw;
  height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dark.half {
  background-color: rgb(23 23 23);
}

.light.half {
  background-color: rgb(250 250 250);
}
