name: Check project

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
  IFRAME_URL: "https://iframe.happy.tech"
  VITE_BUNDLER_RPC_URL: "-"
  VITE_FIREBASE_API_KEY: "-"
  VITE_FIREBASE_AUTH_DOMAIN: "-"
  VITE_FIREBASE_PROJECT_ID: "-"
  VITE_FIREBASE_STORAGE_BUCKET: "-"
  VITE_FIREBASE_MESSAGE_SENDER_ID: "-"
  VITE_FIREBASE_APP_ID: "-"
  VITE_WEB3AUTH_CLIENT_ID: "-"
  VITE_WEB3AUTH_NETWORK: "-"
  VITE_WEB3AUTH_VERIFIER: "-"

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Bun Cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-${{ matrix.bun }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.bun }}-bun-
      - name: Install Node23 (for tests)
        uses: actions/setup-node@v4
        with:
          node-version: 23
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.1.42'
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Fake contract deployment
        run: mkdir -p contracts/out && echo "{}" > contracts/out/deployment.json
      - run: make setup
      - run: make check
      - name: Build
        run: make build
